# Cisco IOS XR Broadband Network Gateway Implementation and Verification

**Product ID**: 19559
**Category ID**: nan
**Modality**: 6
**Active**: True
**Language**: en
**Product Code**: IOSXR304
**Vendor Code**: CI
**Vendor Name**: Cisco
**URL**: [Course Link](https://www.fastlaneus.com/course/cisco-iosxr304)

## Objective
This course will help you:


- Prepare to deploy, implement, configure, operate, and maintain a Cisco IOS XR BNG solution
- Gain hands-on practice using BNG with lab exercises
- Deepen your understanding of the Cisco IOS XR BNG solution
After taking this course, you should be able to:


- Describe the architecture and function of the Cisco IOS XR Broadband Network Gateway
- Configure and verify Authentication, Authorization, and Accounting (AAA) in a Broadband Network Gateway deployment
- Define policies to control subscriber traffic
- Establish and verify subscriber sessions
- Prioritize subscriber traffic using QoS
- Implement subscriber features
- Deploy redundancy for subscriber sessions

## Essentials
It is recommended that a learner has the following knowledge and skills before attending this course:



- Experience working with Cisco IOS XR Software-based platforms
- Basic understanding of routing protocols and Multiprotocol Label Switching (MPLS)
- Basic understanding of AAA functions

## Audience
- System installers
- System integrators
- System administrators
- Network administrators
- Solution designers

## Outline
Broadband Network Gateway Overview



- BNG Architecture
- BNG Software and Hardware Requirements
Configuring and Verifying Authentication, Authorization, and Accounting



- AAA Overview and Operation
- RADIUS Operation and Configuration
- DIAMETER Operation and Configuration
Activating Control Policy



- Control Policy Overview
- Creating and Activating Class Maps and Policy Maps
- Defining Dynamic Template

s
Establishing Subscriber Sessions



- Subscriber Session Overview
- Establishing IPoE and PPPoE Sessions
- DHCP Operation
- Subscriber Interface Neighbor Discovery
- Static Session and Session Limits
- BGP Subscriber Support
Deploying Quality of Service



- Quality of Service Overview and QoS Feature Support
- RADIUS Based Policing
- Share Policy Instances and Merged Policy-Maps
Configuring Subscriber Features



- Managing Control Plane Traffic
- Controlling Packet Forwarding
- Providing Multicast Services
- Routing and Traffic Mirroring on Subscriber Sessions
BNG Geo Redundancy and XML Support



- Geo Redundancy Overview and Deployment Models
- Configuring and Verifying Geo Redundancy
- XML Support

## Summary
The Cisco IOS XR Broadband Network Gateway Implementation and Verification (IOSXR304) v1.0 course teaches you how to successfully deploy, configure, operate, maintain, and support a Cisco IOS® XR Broadband Network Gateway (BNG) solution. This course will show you how to implement and verify BNG on a Cisco IOS XR device to manage subscriber access. You will also learn how to implement and verify subscriber management functions, including authentication, authorization, and accounting of subscriber sessions, address assignment, security, policy management, and Quality of Service (QoS).

How You'll Benefit


Upon completion of this course, you will be able to:



- Describe the architecture and function of the Cisco IOS XR Broadband Network Gateway
- Configure and verify Authentication, Authorization, and Accounting (AAA) in a Broadband Network Gateway deployment
- Define policies to control subscriber traffic
- Establish and verify subscriber sessions
- Prioritize subscriber traffic using QoS
- Implement subscriber features
- Deploy redundancy for subscriber sessions

## Course Duration
4 days

## Last Changed
2024-09-18T17:38:14.000Z
